apiVersion: v1
kind: Service
metadata:
  namespace: dev
  name: nginx-service
  labels:
    service: nginx
spec:
  selector:
    app: nginx
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
  type: ClusterIP
