apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: dev-
commonLabels:
  app: dev-auth
  release: dev
namespace: dev
resources:
- ../../base
images:
- name: crkushal7/auth
  newName: crkushal7/auth
  newTag: auth-main-912e2d57d49bf668dbe9a45824faec1d9ed66c09
configMapGenerator:
- envs:
  - .env
  name: auth-config
