apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: dev-
commonLabels:
  app: dev-auth
  release: dev
namespace: dev
resources:
- ../../base
images:
- name: crkushal7/auth
  newName: crkushal7/auth
  newTag: auth-main-fce1462c97d3d0cda58e35e5173d0ff51640eba6
configMapGenerator:
- envs:
  - .env
  name: auth-config
