apiVersion: v1
kind: Service
metadata:
  namespace: dev
  name: manager-service
  labels:
    name: manager-service
    service: manager-service

spec:
  selector:
    app: manager
  ports:
    - name: http
      port: 5000
      targetPort: 5000
      protocol: TCP
  type: ClusterIP
