apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: prod-
commonLabels:
  app: prod-web
  release: prod
namespace: prod
resources:
  - ../../base
images:
  - name: crkushal7/manager
    newName: crkushal7/web
    newTag: web-main-9b5d8d3e58265b99b0bcc69edcf391acf4695d93
  - name: crkushal7/web
    newName: crkushal7/web
replicas:
  - count: 3
    name: web
patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: web
        labels:
          app: web
          identifier: deploy
      spec:
        template:
          spec:
            containers:
              - name: web
                env:
                  - name: PORT
                    valueFrom:
                      configMapKeyRef:
                        name: prod-web-config
                        key: PORT
                  - name: HOST
                    valueFrom:
                      configMapKeyRef:
                        name: prod-web-config
                        key: HOST
                  - name: ADMIN_URL
                    valueFrom:
                      configMapKeyRef:
                        name: prod-web-config
                        key: ADMIN_URL
                  - name: MANAGER_URL
                    valueFrom:
                      configMapKeyRef:
                        name: prod-web-config
                        key: MANAGER_URL
                  - name: NGINX_URL
                    valueFrom:
                      configMapKeyRef:
                        name: prod-web-config
                        key: NGINX_URL
    target:
      labelSelector: "identifier=deploy"
configMapGenerator:
  - envs:
      - .env
    name: web-config
