apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  labels:
    app: auth
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      volumes:
        - name: auth-cred
          secret:
            secretName: dev-auth-secret

        - name: shared-volume
          emptyDir: {}

      initContainers:
        - name: busybox
          image: busybox
          volumeMounts:
            - name: shared-volume
              mountPath: /shared
          command: ["/bin/sh"]
          args: ["-c", "echo 'hello kuberenetes' > /shared/abc.txt"]

      containers:
        - name: auth
          image: crkushal7/auth:2.1.3
          imagePullPolicy: Always
          volumeMounts:
            - name: auth-cred
              mountPath: /data

            - name: shared-volume
              mountPath: /data2
          ports:
            - containerPort: 4000
              protocol: TCP
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: dev-auth-config
                  key: PORT
            - name: NAME
              valueFrom:
                configMapKeyRef:
                  name: dev-auth-config
                  key: NAME
            - name: HOST
              valueFrom:
                configMapKeyRef:
                  name: dev-auth-config
                  key: HOST
            - name: ADMIN_URL
              valueFrom:
                configMapKeyRef:
                  name: dev-auth-config
                  key: ADMIN_URL
            - name: MANAGER_URL
              valueFrom:
                configMapKeyRef:
                  name: dev-auth-config
                  key: MANAGER_URL
            - name: MONGO_DB_URL
              valueFrom:
                configMapKeyRef:
                  name: dev-mongo-config-f4tf898fkh
                  key: MONGO_DB_URL
            - name: DB_USER_NAME
              valueFrom:
                secretKeyRef:
                  name: dev-mongo-secret-2h79b4gm99
                  key: DB_USER_NAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dev-mongo-secret-2h79b4gm99
                  key: DB_PASSWORD
