apiVersion: v1
kind: Service
metadata:
  namespace: dev
  name: auth-service
  service: auth-service
spec:
  selector:
    app: auth
  ports:
    - name: http
      port: 4000
      targetPort: 4000
      protocol: TCP
  type: ClusterIP
